.container {
  display: grid;
  grid-template-columns: 1fr 1.618fr;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.header {
  grid-column: 1;
  display: grid;
  grid-template-rows: 1.5fr 1.618fr;

}

.sub-header {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.write-button {
  grid-row: 2;
  text-Decoration: none;
  background-color: #fff;
  border: 2px solid #000;
  width: 40%;
  color: #000;
  font-size: 1rem;
  padding: 1rem 2rem;
  margin: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.write-button:hover {
  background-color: #000;
  color: #fff;
}
.body {
  grid-column: 2;
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.02fr 1fr 0.1fr;
  justify-items: center;
}

.product-list {
  grid-column: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;

  word-wrap: break-word;
  word-break: break-all;

  overflow-y: scroll;
  scroll-behavior: smooth;
  max-height: 100vh;
  max-width: 220px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.product-list::-webkit-scrollbar {
  display: none;
}

.product-list2 {
  grid-column: 4;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  word-wrap: break-word;
  word-break: break-all;

  overflow-y: scroll;
  scroll-behavior: smooth;
  max-height: 100vh;
  max-width: 220px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.product-list2::-webkit-scrollbar {
  display: none;
}

.product-card {
  margin: 20px;
  padding: 20px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  cursor: pointer;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.product-card:hover .product-card__image {
  opacity: 0.7;
}

.product-card__image {
  width: 150px;
  height: 150px;
  object-fit: contain;
  border-radius: 5px;
}

.product-card__title {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333333;
  transition: color 0.5s ease-in-out;
  white-space:nowrap;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.detail-link {
  height: 300px;
  text-Decoration: none; 
}

.product-progress {
  height: 4px;
  background-color: #ddd;
  margin-top: 8px;
}

.product-progress-bar {
  height: 100%;
  background-color: #000;
}